[submodule "JUCE"]
	path = JUCE
	url = ../JUCE.git
[submodule "vamp-plugin-sdk"]
	path = vamp-plugin-sdk
	url = ../vamp-plugin-sdk.git
[submodule "Dependencies/sdif"]
	path = Dependencies/sdif
	url = ../sdif.git
[submodule "Dependencies/Misc"]
	path = Dependencies/Misc
	url = ../misc.git
[submodule "Dependencies/ircam-vamp-extension"]
	path = Dependencies/ircam-vamp-extension
	url = ../ircam-vamp-extension.git
