[submodule "JUCE"]
	path = JUCE
	url = https://github.com/WeAreROLI/JUCE.git
[submodule "ILF"]
	path = ILF
	url = git@forge-2.ircam.fr:IrcamLab/ILF.git
[submodule "SVP"]
	path = SVP
	url = git@forge-2.ircam.fr:IrcamLab/SuperVP_Mirror.git
[submodule "vamp-plugin-sdk"]
	path = vamp-plugin-sdk
	url = git@forge-2.ircam.fr:IrcamLab/vamp-plugin-sdk.git
[submodule "magic_enum"]
	path = magic_enum
	url = git@forge-2.ircam.fr:IrcamLab/magic_enum.git
