[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[fr_FR]=./icon.png
Name[fr_FR]=Brioche
Exec=bash -c '"$(dirname "$1")"/Brioche' dummy %k
Name=Brioche
Icon=./icon.png
