[Desktop Entry]
Version = 1.0
Type = Application
Terminal = false
Name = Partiels
Exec = /usr/bin/Partiels
Icon = /opt/Partiels/icon.png
Categories = Application;
